<!DOCTYPE html>
<html>
<head>
  <title>GoEarth-Surf</title><!DOCTYPE html>
  <html>
  <head>
    <title></title>
  </head>
  <body>
  
  </body>
  </html>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar' %>

<div class="container">
<%= yield %>
</div>

</body>
<div class="footer">
<center><footer>
  &copy 2016 GoEarth-Surf | Designed by: Keith Bachand
</footer></center>
</div>



</html>
